<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>News Outlet!</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/assets/css/style.css">
    
</head>
<body>
    {{{ body }}}
</body>
</html>